<td data-friend-id="{{userId}}">
    {{#if isFavorite}}
    <button class="favorite-btn" type="button">favorite</button>
    {{else}}
    <button class="unfavorite-btn" type="button">unfavorite</button>
    {{/if}}
</td>