<span class="col-xs-3">
    {{#if isFavorite}}
    <button class="favorite-btn btn btn-default" type="button">favorite</button>
    {{else}}
    <button class="unfavorite-btn btn btn-default" type="button">unfavorite</button>
    {{/if}}
</span>