<span class="col-xs-3">
    {{#if isFavorite}}
    <button class="unfavorite-btn btn btn-default" type="button">
        <span class="glyphicon glyphicon-star"></span>
        <span class="sr-only">remove favorite</span>
    </button>
    {{else}}
    <button class="favorite-btn btn btn-default" type="button">
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="sr-only">add favorite</span>
    </button>
    {{/if}}
</span>