<label class="timer-label group-end">
    I am free for
    <input type="number" max="60" min="1" value="{{timerValue}}" name="main-beacon" data-min="0" data-sec="0" autofocus>
    minutes
    <span class="error">{{error}} <a href="/">{{errorLink}}</a></span>
</label>
<button type="submit" class="btn btn-lg beacon-btn illuminate">Start</button>