<label class="timer-label group-end">
    I am free for
    <input type="number" max="60" min="1" value="{{timerValue}}" name="main-beacon" data-min="0" data-sec="0">
    minutes
    <span class="error">{{error}}</span>
</label>
<button type="submit" class="btn btn-lg beacon-btn illuminate">Say &ldquo;I&#39;m free&rdquo;</button>