<!DOCTYPE html>
<html lang="en" class="{{splashBackground}}">
<head>
  <meta charset="utf-8">
  <title>Freedom Beacon</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/beacon.css">
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <input type="hidden" name="app-id" value="_{{fb.appId}}">
  <div class="flash"></div>
  {{{body}}}
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/javascripts/vendor/bootstrap.min.js"></script>
  <script src="/javascripts/freedom-beacon.min.js"></script>
</body>
</html>