<header class="clearfix">
  <h1 class="header-text pull-left">Freedom Beacon</h1>
  <button name="logout" class="pull-right btn btn-link" type="button">logout</button>
</header>

<main role="main" class="container">
  <form name="main-timer-form" class="group-end" action="/beacons" method="post">
      {{#if isDeactivated}}
        {{> main-beacon this}}
      {{else}}
          <label class="timer-label group-end">
              I am free for
              <input
                    type="text"
                    name="main-timer"
                    value="{{userTime}}"
                    data-min="{{userTime}}"
                    class="disabled-timer"
                    role="timer"
                    aria-live="off"
                    aria-readonly="true"
                    readonly
              >
              minutes
          </label>
          <button type="submit" class="btn btn-lg beacon-btn deactivate">No longer free</button>
      {{/if}}
  </form>
  
  <div class="friends"></div>
</main>