<label class="timer-label group-end">
    I am free for
    <input type="number" max="60" min="1" value="30" name="main-timer" autofocus>
    minutes
</label>
<input type="checkbox" id="beacon">
<label for="beacon" class="btn btn-primary btn-lg beacon-btn group-end">illuminate beacon</label>