<header class="jumbotron" id="main-header">
    <h1 id="main-heading">Freedom Beacon</h1>
    <a href="/" class="btn btn-lg btn-primary beacon-btn">deactivate beacon</a>
</header>

<main role="main">
    <h2 class="heading">{{friend.name}}</h2>
    <div id="messages-box"></div>
    <form id="message-form">
        <input type="text" name="message" aria-label="Write a message" placeholder="Write a message">
    </form>
    <p class="back-link"><a href="/locations/{{friend.id}}">Show Map</a></p>
</main>