<h2 class="heading">{{friend.name}}</h2>
<div id="messages-box"></div>
<form name="message-form">
    <input type="text" name="message" aria-label="Write a message" placeholder="Write a message">
</form>