{{#if fbFriends}}
<ul>
    {{#each fbFriends}}
    <li>
        <button class="btn btn-link send-invite-link" type="button" data-fb-id="{{id}}">{{name}}</button>
    </li>
    {{/each}}
</ul>
{{else}}
No matches found.
{{/if}}