{{#if fbFriends}}
<ul class="list-group fbFriends-list">
    {{#each fbFriends}}
    <li class="list-group-item">
        <button class="btn btn-link send-invite-link" type="button" data-fb-id="{{id}}">{{name}}</button>
    </li>
    {{/each}}
</ul>
{{else}}
No matches found.
{{/if}}