<ul>
    {{#each fbFriends}}
    <li>
        <button class="close-btn" type="button"><span class="glyphicon glyphicon-remove"></span> close</button>
        <button class="btn btn-link send-invite-link" type="button" data-fb-id="{{id}}">{{name}}</button>
    </li>
    {{/each}}
</ul>