{{#if fbFriends}}
<ul class="list-group fbFriends-list">
    {{#each fbFriends}}
    <li class="list-group-item">
        <button type="button" class="btn btn-link send-invite-link" data-fb-id="{{id}}">{{name}}</button>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No matches found.</p>
{{/if}}