<h2 class="heading"> Add Friends</h2>
<table> 
	{{#each friendRequests}}
	<tr>
		<td> {{name}}</td>
		<td><button name="accept-friend-btn" type="button"><span class="glyphicon glyphicon-plus"></span>Accept</button></td>
    </tr>
</table>
{{else}}
</table>
    <p>No pending friend requests</p>
{{/each}}