<h1>Freedom Beacon <small>know when your friends are free</small></h1>
<div id="fb-root"></div>
<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->

<fb:login-button class="fbButton" show-faces="false" width="200" max-rows="1" data-size="xlarge"></fb:login-button>