<main role="main" class="container index">

    <h1>Freedom Beacon <small>for spontaneous hangouts</small></h1>
    <div class="front-text-outer"><div class="front-text-inner"><button name="login" type="button" class="btn" disabled>Login with Facebook</button>
    <noscript>This app heavily uses Javascript. Enable Javascript to enjoy the freedom!</noscript>
    <p class="front-p">Unexpected free time? Coordinate with friends who are free right now.</p>
	</div></div>
    
    <!-- <h2>We Value Your Privacy</h2>
    <p>Freedom Beacon works best when your friends know if you&#39;re nearby. We do <strong>not</strong> share your exact location.</p> -->
</main>