<main role="main" class="container index">
    <h1>Freedom Beacon <small>for spontaneous hangouts</small></h1>
    <button name="login" type="button" class="btn" disabled>Login with Facebook</button>
    <noscript>This app heavily uses Javascript. Enable Javascript to enjoy the freedom!</noscript>
    <p>Unexpected free time? Let your friends know you&#39;re free and start an impromptu meetup.</p>
    <h2>We Value Your Privacy</h2>
    <p>Freedom Beacon works best when your friends know if you&#39;re nearby. We do <strong>not</strong> share your exact location.</p>
</main>