<main role="main" class="container">
    <h1>Freedom Beacon <small>know when your friends are free</small></h1>
    <button name="login" type="button" class="btn" disabled>Login with Facebook</button>
    <noscript>This app heavily uses Javascript. Enable Javascript to enjoy the freedom!</noscript>
    
    <div class="flyout location-flyout">
        <p>Freedom Beacon works better if your friends know when you&#39;re nearby.</p>
        <p>We will <strong class="no">not</strong> share your exact location.</p>
        
        <button name="with-location" type="button" class="btn btn-primary">Login with location</button>
        <button name="without-location" type="button" class="btn btn-default">Login without location</button>
    </div>
</main>