<main role="main" class="container index">
    <h1>Freedom Beacon <small>know when your friends are free</small></h1>
    <button name="login" type="button" class="btn center-block" disabled>Login with Facebook</button>
    <noscript>This app heavily uses Javascript. Enable Javascript to enjoy the freedom!</noscript>
    <h2>How It Works</h2>
    <p>When you have a little bit of unexpected free time, use Freedom Beacon to find friends who are also free.</p>
    <h2>We Value Your Privacy</h2>
    <p>Freedom Beacon works best when your friends know if you&#39;re nearby. We will <strong>not</strong> share your exact location.</p>
</main>