<div class="clearfix">
    <button class="close-btn pull-right" type="button">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="sr-only">close</span>
    </button>
</div>
<input type="search" role="search" name="fbFriends-search" placeholder="Enter a friend&#39;s name">
<span class="glyphicon glyphicon-search"></span>
<div class="search-results-holder"></div>