<header class="jumbotron" id="main-header">
    <h1 id="main-heading">Freedom Beacon</h1>
    <a href="/" class="btn btn-lg btn-primary beacon-btn">deactivate beacon</a>
</header>

<main role="main">
    <h2 class="heading">{{friend.name}}</h2>
    <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=stanford+map&amp;ie=UTF8&amp;hq=&amp;hnear=Stanford,+Santa+Clara+County,+California&amp;gl=us&amp;t=m&amp;ll=37.424094,-122.16608&amp;spn=0.020449,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=stanford+map&amp;ie=UTF8&amp;hq=&amp;hnear=Stanford,+Santa+Clara+County,+California&amp;gl=us&amp;t=m&amp;ll=37.424094,-122.16608&amp;spn=0.020449,0.025749&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    <p><a class="btn btn-primary" id="message-link" href="/messages/{{friend.id}}">Send message</a></p>
</main>