<label class="timer-label group-end">
    I am free for
    <input type="number" max="60" min="1" value="0" name="main-timer" data-min="0" data-sec="0">
    minutes
</label>
<button type="submit" class="btn btn-lg beacon-btn illuminate">illuminate beacon</button>