h2 {
	font-size: 1.3em;
	color: #888;
}

h3 {
	font-size: 1.1em;
}

h1 > small {
	display: block;
}

.index > h2 {
	color: #000005;
}

.group-end {
	margin-bottom: 0.3em;
}

.header-text {
	display: inline;
	font-size: 1.5em;
	margin: 0;
}

.favorite-btn, 
.unfavorite-btn{
	color: #FF0F53;
	background: none;
	border: none;
}

.favorite-btn:active, 
.favorite-btn:hover,
.unfavorite-btn:active,
.unfavorite-btn:hover{
	background: none;
	border: none;
}

.flash {
	display: none;
	position: absolute;
	left: 50%;
	top: 0;
	width: 9em;
	margin-left: -4.5em;
	background-color: #ff0;
	padding: 0.3em 0.4em;
	color: #000005;
	border: 0.1em solid #ccc;
	
			border-radius: 0.1em 0.1em 0.2em 0.2em;
	   -moz-border-radius: 0.1em 0.1em 0.2em 0.2em;
	-webkit-border-radius: 0.1em 0.1em 0.2em 0.2em;
}

.timer-label {
	font-size: 3em;
}

.beacon-btn {
	width: 100%;
}

.error {
	display: block;
	font-size: 0.5em;
	color: #f00;
}

.friends {
	display: none;
}

.friends > ul > li {
	border-bottom: 0.1em solid #ddd;
}

.friend-name {
	font-size: 1.3em;
}

.distance-link {
	padding: 0;
}

.flyout {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #fff;
	border: 0.1em solid #000;
	z-index: 1;
}

.distance-flyout {
	width: 17em;
	height: 5.5em;
	margin-left: -8.5em;
	margin-top: -2.75em;
	padding: 0.7em;
}

button[name="login"] {
	background-color: #4c66a4;
	color: #fff;
	border: 0.1em solid #ccc;
	font-weight: bold;
}

button[name="login"]:hover,
button[name="login"]:active {
	color: #fff;
	background-color: #5471b5;
}

input[name="main-timer"] {
	width: 3.5em;
	text-align: center;
}

.disabled-timer {
	background-color: #fff;
	border: none;
}

.illuminate {
	background-color: #3E82BD;
}

.illuminate:hover,
.illuminate:active {
	color: #444;
}

.deactivate {
	border: 0.1em solid #ccc;
	background-color: #ddd;
}

.close-btn {
	background: none;
	color: #444;
	border: none;
}

.invite-link {
	padding: 0;
}

.invite-flyout {
	width: 15em;
	height: 32.5em;
	top: 0.3em;
	margin-left: -7.5em;
}

input[name="fbFriends-search"] {
	margin: 0.3em 0.3em 0.5em;
	width: 75%;
}

.fbFriends-list {
	overflow: auto;
	width: 14.7em;
	height: 28.2em;
}

.search-results-holder > div {
	margin: 0.5em;
}

/*
 * Turns off Chrome's spinners for the number input.
 * Taken from http://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
