header {
	border-bottom: 0.1em solid #ddd;
	margin-bottom: 1.5em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

.group-end {
	margin-bottom: 0.3em;
}

.header-text {
	text-align: center;
}

.brand {
	margin-top: 0;
}

.user-time > input {
	font-size: 1.7em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.user-time-label {
	font-size: 3em;
}

.beacon-btn {
	width: 100%;
}

.friends > li {
	border-bottom: 0.1em solid #ddd;
}

#messages-box {
	border: 0.3em solid #ccc;
	margin-bottom: 0.5em;
	height: 15em;
	background-color: #626eff;
	padding: 0.5em;
}

.msg {
	border: 0.1em solid #ddd;
	border-radius: 0.5em;
	background-color: #fff;
	width: 12em;
	padding: 0.1em;
	margin: 0.3em 0;
}

.user-msg {
	float: right;
}

/*
 * Turns off Chrome's spinners for the number input.
 * Taken from http://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
