h2 {
	font-size: 1.3em;
	color: #888;
}

h3 {
	font-size: 1.1em;
}

h1 > small {
	display: block;
}

.index > h2 {
	color: #000005;
}

.group-end {
	margin-bottom: 0.3em;
}

.back-btn {
	background-color: #5471ad;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0.05em -0.07em #3e4957;
	position: relative;
	display: inline-block;
	left: 1em;
	height: 2em;
	width: 3.5em;
	padding: 0.3em 0.4em;
	
			border-radius: 0.1em 0.3em 0.3em 0.1em;
	   -moz-border-radius: 0.1em 0.3em 0.3em 0.1em;
	-webkit-border-radius: 0.1em 0.3em 0.3em 0.1em;
}

.back-btn:hover,
.back-btn:active {
	text-decoration: none;
	color: #fff;
	background-color: #4d679e;
	text-shadow: 0.05em -0.07em #5c5c5c;
}

/*
 * The arrow is made by creating a thick border and only showing the right side.
 * For more explanation, see http://www.yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/
 */
.back-btn:before {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border: 1em solid transparent;
	border-right-color: #5471ad;
	left: -2em;
	top: 0;
}

.back-btn:hover:before,
.back-btn:active:before {
	border-right-color: #4d679e;
}

.header-text {
	display: inline;
	font-size: 1.5em;
	margin: 0;
}

input[name="header-timer"] {
	font-size: 1.7em;
}

.flash {
	display: none;
	position: absolute;
	left: 50%;
	top: 0;
	width: 9em;
	margin-left: -4.5em;
	background-color: #ff0;
	padding: 0.3em 0.4em;
	color: #000005;
	border: 0.1em solid #ccc;
	
			border-radius: 0.1em 0.1em 0.2em 0.2em;
	   -moz-border-radius: 0.1em 0.1em 0.2em 0.2em;
	-webkit-border-radius: 0.1em 0.1em 0.2em 0.2em;
}

.timer-label {
	font-size: 3em;
}

.beacon-btn {
	width: 100%;
}

.error {
	display: block;
	font-size: 0.5em;
	color: #f00;
}

.friends {
	display: none;
}

.free tr:nth-child(even) {
	border-bottom: 0.1em solid #ddd;
}

.offline tr {
	border-bottom: 0.1em solid #ddd;
}

.friends td {
	padding: 0 0.5em;
}

.friend-name {
	font-size: 1.3em;
}

.distance-link {
	padding: 0;
}

.flyout {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #fff;
	border: 0.1em solid #000;
	z-index: 1;
}

.distance-flyout {
	width: 17em;
	height: 5.5em;
	margin-left: -8.5em;
	margin-top: -2.75em;
	padding: 0.7em;
}

button[name="login"] {
	margin: auto auto;
	background-color: #4c66a4;
	color: #fff;
	border: 0.1em solid #ccc;
	font-weight: bold;
}

button[name="login"]:hover,
button[name="login"]:active {
	color: #fff;
	background-color: #5471b5;
}

input[name="main-timer"] {
	width: 2.5em;
	text-align: center;
}

.disabled-timer {
	background-color: #fff;
	border: none;
}

.illuminate {
	background-color: #3E82BD;
}

.illuminate:hover,
.illuminate:active {
	color: #444;
}

.deactivate {
	border: 0.1em solid #ccc;
	background-color: #ddd;
}

.close-btn {
	background: none;
	color: #444;
	border: none;
	font-size: 0.9em;
}

.invite-link {
	padding: 0;
}

.invite-flyout {
	width: 15em;
	height: 32.5em;
	top: 0.3em;
	margin-left: -7.5em;
}

input[name="fbFriends-search"] {
	margin: 0.3em 0.3em 0.5em;
}

.fbFriends-list {
	overflow: auto;
	width: 14.7em;
	height: 28.2em;
}

.search-results-holder > div {
	margin: 0.5em;
}

/*
 * Turns off Chrome's spinners for the number input.
 * Taken from http://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
