h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

.group-end {
	margin-bottom: 0.3em;
}

.back-btn {
	background-color: #5471ad;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0.05em -0.07em #3e4957;
	position: relative;
	display: inline-block;
	left: 1em;
	height: 2em;
	width: 3.5em;
	padding: 0.3em 0.4em;
	border-radius: 0.1em 0.3em 0.3em 0.1em;
	-moz-border-radius: 0.1em 0.3em 0.3em 0.1em;
	-webkit-border-radius: 0.1em 0.3em 0.3em 0.1em;
}

.back-btn:hover,
.back-btn:active {
	text-decoration: none;
	color: #fff;
	background-color: #4d679e;
	text-shadow: 0.05em -0.07em #5c5c5c;
}

/*
 * The arrow is made by creating a thick border and only showing the right side.
 * For more explanation, see http://www.yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/
 */
.back-btn:before {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border: 1em solid transparent;
	border-right-color: #5471ad;
	left: -2em;
	top: 0;
}

.back-btn:hover:before,
.back-btn:active:before {
	border-right-color: #4d679e;
}

.header-text {
	margin-top: 0;
	margin-left: 0.7em;
	display: inline;
}

.readonly {
	border: none;
}

input[name="header-timer"] {
	font-size: 1.7em;
}

.timer-label {
	font-size: 3em;
}

#beacon {
	display: none;
}

.beacon-btn {
	width: 100%;
}

.flyout {
	display: none;
	position: absolute;
	left: 50%;
	background-color: #fff;
	border: 0.1em solid #000;
	z-index: 1;
}

.distance-flyout {
	width: 30em;
	height: 3em;
	margin-left: -15em;
	padding: 0.5em;
}

button[name="close"] {
	float: right;
}

.friends > li {
	border-bottom: 0.1em solid #ddd;
}

#messages-box {
	border: 0.3em solid #ccc;
	margin-bottom: 0.5em;
	height: 15em;
	background-color: #626eff;
	padding: 0.5em;
}

.fbButton {
	margin: auto auto;
}

.msg {
	border: 0.1em solid #ddd;
	border-radius: 0.5em;
	background-color: #fff;
	width: 12em;
	padding: 0.1em;
	margin: 0.3em 0;
}

.user-msg {
	float: right;
}

/*
 * Turns off Chrome's spinners for the number input.
 * Taken from http://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
