#main-header {
	background: none;
	padding-top: 40px;
}

.beacon-btn {
	width: 100%;
}

#user-time-box {
	margin-top: 0.5em;
}

#user-time {
	width: 2em;
}

.friends {
	border: 0.1em solid #ddd;
	padding: 0;
}


.friends > li {
	padding: 0.3em;
	line-height: 1.4;
	border-bottom: 0.1em solid #ddd;
	margin: 0;
}

.friends > li:last-child {
	border-bottom: none;
}

.flyout {
	display: none;
}

.location-flyout {
	padding: 0.3em;
	color: #fff;
}

.back-link {
	margin-top: 1em;
}

#messages-box {
	border: 0.3em solid #ccc;
	margin-bottom: 0.5em;
	height: 15em;
	background-color: #626eff;
	padding: 0.5em;
}

.msg {
	border: 0.1em solid #ddd;
	border-radius: 0.5em;
	background-color: #fff;
	width: 12em;
	padding: 0.1em;
	margin: 0.3em 0;
}

.user-msg {
	float: right;
}

/* Taken from http://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
	content: "";
	display: table;
	clear: both;
}

/*
 * Turns off Chrome's spinners for the number input (#user-time).
 * Taken from http://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
