/* Freedom Beacon Title */
h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
	text-align: center;
	font-size: 3em;
}

/* Freedom Beacon Subtitle */
h1 > small {
	display: block;
	font-family: 'Advent Pro', sans-serif;
	font-size: .57em;
}

h2 {
	font-size: 1.8em;
	color: #8b8b8b;

/* Paragraph Text */
p {
	font-size: 1.4em;
	color: #8b8b8b;
	font-weight: 200;
	font-family: 'Helvetic Neue', sans-serif;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 2em;
	color: #8b8b8b;
	font-weight: 200;
}

.index > h2 {
	color: #8b8b8b;
}

/* Words Around the Timer */
.group-end {
	margin-bottom: 1em;
	font-size: .55em;
	font-weight: 200;
}

/* The Freedom Beacon Title */
.header-text {
	display: inline;
	font-size: 3em;
	margin-left: .6em;
}

.favorite-btn, 
.unfavorite-btn{
	/*color: #FF0F53;*/
	color: #FCE135;
	background: none;
	border: none;
}

.favorite-btn:active, 
.favorite-btn:hover,
.unfavorite-btn:active,
.unfavorite-btn:hover{
	background: none;
	border: none;
}

/* Yellow Box at the Top */
.flash {
	display: none;
	position: absolute;
	left: 50%;
	top: 0;
	width: 9em;
	margin-left: -4.5em;
	background-color: #ffffb2;
	padding: 0.3em 0.4em;
	color: #4c4c00;
	border: 0.1em solid #ffff66;
	
			border-radius: 0.1em 0.1em 0.2em 0.2em;
	   -moz-border-radius: 0.1em 0.1em 0.2em 0.2em;
	-webkit-border-radius: 0.1em 0.1em 0.2em 0.2em;
}

.timer-label {
	font-size: 3em;
}

.beacon-btn {
	width: 100%;
	margin-bottom: 2em;
}

.error {
	display: block;
	font-size: 0.5em;
	color: #f00;
}

.friends {
	display: none;
}

.friends > ul > li {
	border-bottom: 0.1em solid #ddd;
}

.friend-name {
	font-size: 1.3em;
}

.distance-link {
	padding: 0;
}

.flyout {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #fff;
	border: 0.1em solid #000;
	z-index: 1;
}

.distance-flyout {
	width: 17em;
	height: 6em;
	margin-left: -8.5em;
	margin-top: -3em;
	padding: 0.7em;
}

/* Login Button */
button[name="login"] {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 2em;
	width: 100%;
	background-color: #4c66a4;
	color: #fff;
	border: 0.1em solid #ccc;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

button[name="login"]:hover,
button[name="login"]:active {
	color: #fff;
	background-color: #5471b5;
}

/* Logout Link*/
.pull-right {
	padding-right: 1.3em;
	padding-bottom: 2em;
}

input[name="main-timer"] {
	width: 3.5em;
	text-align: center;
}

.disabled-timer {
	background-color: #fff;
	border: none;
}

.illuminate {
	background-color: #3e82bd;
	color: #ececec;
	font-size: 2.5em;
	font-weight: bold;
}

.illuminate:hover,
.illuminate:active {
	color: #444;
}

.deactivate {
	border: 0.1em solid #ccc;
	background-color: #ddd;
}

.close-btn {
	background: none;
	color: #444;
	border: none;
	margin-right: -.55em;
}

.invite-link {
	font-size: 1em;
	padding: 0;
}

.invite-flyout {
	width: 15em;
	height: 32em;
	top: 0.3em;
	margin-left: -7.5em;
	margin-top: 4em;
}

input[name="fbFriends-search"] {
	margin: 0.3em 0.3em 0em;
	width: 82%;
}

.fbFriends-list {
	overflow: auto;
	width: 14.7em;
	height: 28.2em;
}

.search-results-holder > div {
	margin: 0.5em;
}

/*
 * Turns off Chrome's spinners for the number input.
 * Taken from http://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
